@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #222;
  background: #111;
  color: white;
  font-size: 16px;
  outline: none;
}

input::placeholder {
  color: #666;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background: #4ade80;
  color: black;
  font-weight: 600;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #141414;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

body {
  background: #0b0b0b;
  color: white;
  margin: 0;
}

main {
  padding-bottom: 80px;
}
